.barra{
    height: 75px;
    background-color: #93367C;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: gray;
}

.carousel-item {
    max-height: 600px;
}

.destaque{
    text-align: center;
    padding: 30px;
}

.texto{
    text-align: center;
    font-family: monospace;
}

#logo{
    border-radius: 600px;
    width:50px;
    height:50px;
}

.navbar-nav{
    text-align: center;
}


.rodape{
    background-color:  #93367C ;
    color: silver;
    min-height: 300px;
    padding-bottom: 10px;
    
}

.titulo-quemsomos{
    text-align: center;
}

.nav-item{
    padding: 15px;;
}

.imgestatica{
    width: 100%;
    max-height: 500px;
}

.sociais{
    text-align: center;
    margin-bottom: 30px;
    
}

.horizontal_dotted_line{
    border-bottom: 1px dotted black;
    width: 100%;
  } 

.carrinho{
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 75px;
}

.imgproduto{
    width: 100%;
    max-width: 545px;
    height: 359px;    
}

.produtobox{
    margin-top: 30px;
    margin-bottom: 100px;
}

.atendimento{
    margin-bottom: 50px;
}

.pricequant{
    text-align: center;
    margin-bottom: 30px;
}



.textoproduto{
    padding: 40px;
    color: gray;
}

.horizontal_dotted_line{
    margin-top: 100px;
    margin-bottom: 50px;
}

.carrinhobox{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 150px;
    padding-left: 150px;
   
}

.rowcarrinho col{
    border: 1px solid silver;
    margin-left: 0px;
    margin-left: 0px;
}

.cardapiotitulo{
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}

.prato-feito-opcao{
    text-decoration: none;
    color:black;
}

.prato-feito-opcao:hover{
    color:black;

}

.boxingrediente{
    margin-bottom: 100px;
    
}

.product-img{
    width: 100%;
    max-width: 545px;
    height: 359px; 
    margin-bottom: 60px;  
}

.titulofaixa{
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;
    font-size: xx-large;

}




